* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  transition: transform 1.5s, opacity 3s;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: magenta;
}

.grid {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr;
  margin: auto;
  width: 90vw;
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

img {
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  .grid {
    grid-template-columns: 4fr 3fr;
    width: 80vw;
  }
}

@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 4fr 3fr;
    width: 70vw;
  }
}

@media only screen and (min-width: 1400px) {
  .grid {
    grid-template-columns: 4fr 3fr;
    width: 60vw;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
