* {
    font-family: "Manrope", sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 25px;
    transition: transform 1.5s, opacity 3.0s;
}

h1 {
    font-size: 50px;
    font-weight: 800;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: magenta;
}